/* all my basic stuff

@import _normalize
@import _vars
@import _typografy
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Source+Sans+Pro')
@import url('https://fonts.googleapis.com/css?family=Montserrat:800');

body
  background: whitesmoke
  font-family: 'Open Sans', sans-serif
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  text-rendering: optimizeLegibility
  -moz-font-feature-settings: "liga" on
  h1,
  h2
    font-family: 'Montserrat', sans-serif
    font-weight: bolder

::-webkit-scrollbar-track
  background-color: transparent
  cursor: default


::-webkit-scrollbar
  width: 7px
  background-color: transparent
  cursor: default

::-webkit-scrollbar-thumb
  background-color: transparentize(#272727,.7)
  cursor: default
  border-radius: 3px

.icon
  font-size: 35px
  margin: 0 15px
  color: #fff
  transition: all ease .3s

  &:hover
    color: $contrast-color
    animation: icon-animation 5s

@keyframes icon-animation
  0%
    color: $contrast-color

  100%
    color: lighten($contrast-color,10%)

.network-ic
  color: $primary-color

.custom-animation
  animation: moveTop 10s infinite
  position: relative
  transition: all ease .3s
  width: fit-content

@keyframes moveTop
  0%
    transform: translateY(0)
  25%
    transform: translateY(-10%)
  50%
    transform: translateY(0)
  75%
    transform: translateY(10%)
  100%
    transform: translateY(0)

.center-all
  display: flex
  justify-content: center
  align-content: center
