// colors
$primary-color: #348AFE
$light-color: lighten(dodgerblue, 25%)
$contrast-color: #FE6534
$dark-color: #2c3e50
$bg-primary: linear-gradient(to top, #48c6ef 0%, #6f86d6 100%)


// real vars
$s_desktop_lg: 1200px
$s_desktop_md: 992px
$s_tablet: 769px
$s_smartphone: 768px
$page-content-padding: 100px
$gap: 50px
$gap-cols: 10px


// mxngs
=makeFlex($width: 100%,$direction: row,$justify: flex-start,$align: flex-start)
  width: $width
  display: flex
  flex-direction: $direction
  justify-content: $justify
  align-items: $align

=content-padding($padding: $page-content-padding)
  padding: 0 $padding
